# TestResults

Namespace: DataForSeo.Client.Models

```csharp
public class TestResults
```

Inheritance [Object](https://docs.microsoft.com/en-us/dotnet/api/Object) → [TestResults](./TestResults.md)

## Properties

### **AdditionalProperties**

```csharp
public IDictionary<string, object> AdditionalProperties { get; set; }
```

#### Property Value

[IDictionary&lt;String, Object&gt;](https://docs.microsoft.com/en-us/dotnet/api/0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]])<br>

## Constructors

### **TestResults()**

```csharp
public TestResults()
```
